.gallery {
    padding: 0;
  }
  
  .doc {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  
  .primary-header .primary-logo {
    height: 50px;
  }
  
  .main-content {
    height: 100%;
  }
  
  .doc-t {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
  }
  
  img {
    width: 250px;
    height: 260px;
  }
  
  .first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 1.5rem;
  }
  
  .desc {
    text-align: center;
    margin-top: 8px;
  }